<div class="header">
	Management Dashboard
</div>
<code>
  {{displayArray}}
</code>
<ng-container *ngFor="let departments of displayArray;">
	<pre>
    {{departments}}
  </pre>
	<ng-container *ngFor="let department of departments; let deptNo as index">
		<pre>
	{{department | json}}
  </pre>
		<ng-container *ngFor="let manager of department.manager; let manager as index">
			<pre>
	{{manager | json}}
  </pre>
			<button (click)="addDept(deptNo)">Add developer</button>
		</ng-container>
	</ng-container>
</ng-container>